
  .pad_div_0{
    padding-left: 0px
  }
  .p_style{
    margin-top: 0px; 
    color: #d81b60;
  }
  .hr_style{
    margin-top: 10px; 
    border: 0.5px solid; 
    color: #d81b60
  }
  .td_style{
    margin-bottom:25px;
  }

  .mtop0{
    margin-top: 0px;
  }
  table.table{
    margin-top: 10px;
  }

.table{
        width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
}

.pright0{
  padding-right: 0px;
}

.btn_apr{
  display: contents;
  line-height: 84px;
  white-space: nowrap;
}



 .ip_style{
    width:1px; 
    height:1px; 
    border:0px;
  }

.border-custom{
    border: 1px solid dimgrey;
    border-radius: 10px;
}   

.img_style{
    width: 200px; 
    height: 100px;
}

  .ul_style{
    min-width: 400px;
    min-height: 190px;
  }
  .apr_div{
    text-align: center; 
    font-size: 15px;
  }