#reader {
    width: 100%;
    height: 320px;
    position: relative;
    overflow: hidden;
    background: #000;
    border-radius: 6px;
}


#scan-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.scan-box {
    position: absolute;
    width: 80%;
    height: 60%;
    top: 20%;
    left: 10%;
    border: 3px solid rgba(255, 0, 0, 0.7);
    border-radius: 10px;
}

.laser-line {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 3px;
    background: rgba(255, 0, 0, 0.9);
    animation: laserAnim 1.2s infinite ease-in-out;
}

@keyframes laserAnim {
    0% {
        top: 20%;
    }

    50% {
        top: 75%;
    }

    100% {
        top: 20%;
    }
}